*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
}


/* ------------------------------ */

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

body {
    color: var(--primary-color);
    margin: 0;
    box-sizing: border-box;
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-color: #2e0049de
}

:root {
    --primary-color: white;
    --contrast-color: #00ff37;
    --contrast-dark-color: #006d18;
    --accent-color: #6200be;
    --accent-dark-color: #06000c;
    --sub-color: #0e0042;
    --accent-contrast-color: black;
    --header-height: 80px;
    --header-bg: #100018;
    --header-text: white;
    --sidebar-bg: black;
    --sidebar-width: 0px;
    --homepage-width: calc(100vw - var(--sidebar-width));
    --orange: #e67a00;
}


/* -------------------- */

.search_fish {
    height: 2rem;
    text-align: center;
}

.red-border {
    border: 1px solid red !important;
}

.flex {
    display: flex;
    text-align: center;
}

.flex-col {
    flex-direction: column;
}

.text-center {
    text-align: center;
}